.start-column {
	padding: 75px;
	/* Add your desired padding value here */
	background-color: #f0f0f0;
	background-image: url("https://d585tldpucybw.cloudfront.net/sfimages/default-source/productsimages/teststudio/continuous-integration-testing-illustration.svg");
	background-size: 200px;
	background-repeat: no-repeat;
	background-position: center;
	/* Add additional styles as necessary */
	border-radius: 5px;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

#startButton {
	margin-top: 10px;
	width: max-content;
}

label {

	margin-bottom: 5px;
}

/* CSS for the progress bar */
.progress-bar {
	height: 30px;
	border-radius: 20px;
	overflow: hidden;
}

.progress-bar-fill {
	height: 100%;
	font-weight: bold;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	transition: width 0.3s ease-in-out;

}

/* Style the progress bar based on maturity level */
.low {
	background-color: #FF6F6F;
}

.medium {
	background-color: #FFCA5D;
}

.high {
	background-color: #80C98F;
}

.elite {
	background-color: rgb(91, 162, 247);
}

.my-footer {
	background-color: #f2f2f2;
	/* Replace this with the desired background color */
	padding: 10px;
	/* Add padding for better appearance, adjust as needed */
	text-align: center;
	/* Optional: Align the content in the center */
}

#questionnaireForm {
	padding: 20px;
}


/* Style for the clickable area */
.clickable-area {
	cursor: pointer;
	padding-right: 5px;
}

/* Style for the expansion indicator (+ or -) */
.expansion-indicator::after {
	content: "+";
	right: 30px;
	display: inline-block;
	margin-right: 5px;
}

/* Style for the expanded state of the expansion indicator */
.expanded .expansion-indicator::after {
	content: "-";
}

/* Style for the sublist when expanded */
.sublist {
	display: none;
	padding-left: 20px;
	list-style: none;
}

/* Style for the sublist items */
.sublist li {
	padding-top: 5px;
}

/* Style for the sublist when expanded */
.sublist.expanded {
	display: block;
}

/* Style for each item with background color */
.list-item {
	background-color: #f0f0f0;
	/* Replace with your desired background color */
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

/* Style for the sublist */
.sublist {
	background-color: #f9f9f9;
	/* Replace with your desired lighter background color */
	padding: 5px;
	border-radius: 5px;
	margin-top: 5px;
}

#results-panel {
	padding: 10px;
}

#maturity-panel {
	margin-top: 20px;
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background-color: #f9f9f9;
}

.badge {
	color: #000;
	/* Change the color to your preferred text color */
}

.no-bullets {
	list-style-type: none;
}

.image-container {
	display: inline-block;
	padding: 10px;
	border: 1px solid #ddd;
	/* Add a 1px solid border */
	border-radius: 5px;
	/* Add some border radius for rounded corners */
	margin: 10px;
	/* Add margin to create spacing between images */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	/* Add a subtle box shadow */
}

.image-container img {
	object-fit: cover;
	width: 150px;
	height: 100px;
	border-radius: 5px;
	/* Match the border radius for a consistent look */
}

.content-section {
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature-list li {
	list-style: none;
	font-size: 15px;
	padding-left: 1.5em;
	position: relative;
}

.feature-list li::before {
	content: "\2022";
	position: absolute;
	left: 0;
	top: 0.4em;
	color: #007bff;
}

h2 {

	font-weight: bold;
	font-size: 26px;
	margin-bottom: 10px;
}

h3 {

	font-weight: bold;
	font-size: 22px;
	margin-bottom: 5px;
}

p {
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 20px;
}

.start-assessment-btn {
	background-color: #007bff;
	margin-left: 40px;
	color: #fff;
	padding: 10px 20px;
	border: none;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.start-assessment-btn:hover {
	background-color: #0056b3;
}

.devops-img {

	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	height: 300px;
	/* Set a suitable height to display the background image */
	display: flex;
	align-items: center;
	justify-content: center;
}

.question-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}
  

        .question-text {
            margin-bottom: 20px;
        }

        input[type="radio"] {
            margin-right: 10px;
        }

.jumbotron {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.upload-form {
	margin-top: 20px;
}

.upload-button {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.upload-button:hover {
	background-color: #0056b3;
}

.auth-error {
	color: #dc3545;
	font-weight: bold;
	margin-top: 10px;
}


/*Card styling*/

/* Custom CSS for styling the cards */
.questionnaire-card {
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s, box-shadow 0.2s;
}


.card-header {
	background-color: rgb(237, 239, 241);
	padding: 10px 15px;
	font-weight: bold;
}

.questionnaire-card-body {
	padding: 15px;
}

 .question {
            border: 1px solid #edf0f5;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
        }